.fieldCorrect {
    -fx-control-inner-background: greenyellow;
    -fx-background-color: greenyellow;
}
.fieldIncorrect {
    -fx-control-inner-background: lightpink;
    -fx-background-color: lightpink;
}

#tbAdd {
    -fx-graphic: url("/icons/add.png");
}

#tbDelete {
    -fx-graphic: url("/icons/delete.png");
}

#tbChange {
    -fx-graphic: url("/icons/edit.png");
}

#imgAbout {
    -fx-graphic: url("/icons/etf.png");
}